{{template "header" .}}
	<title>分类</title>
</head>
<body>
	{{template "navbar" .}}

<div class="container">
<h1>分类列表</h1>
	<form method="Get" action="/category" class="form-search">
		<div class="form-group">
			<label>分类名称</label>
			<input type="hidden" name="op" value="add">
			<input type="text" id="name" class="form-control" name="name">
		</div>
		<button type="submit" class="btn" onclick="return checkInput();">添加</button>
	</form>

	<script type="text/javascript">
	function checkInput(){
		var category = document.getElementById("name")
		if (category.value.length == 0) {
			alert("请输入内容");
			return false;
		};
		return true;
	}
	</script>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>名称</th>
				<th>文章数</th>
				<th>操作</th>			
			</tr>
		</thead>
		
		<tbody>
			{{range .Categories}}
				<tr>
					<td>{{.Id}}</td>	
					<td>{{.Title}}</td>
					<td>{{.TopicCount}}</td>
					<td>
						<a href="/category?op=del&id={{.Id}}">删除</a>
					</td>
				<!--
					<th>{{.Id}}</th>	
					<th>{{.Title}}</th>
					<th>{{.TopicCount}}</th>
					<th>
						<a href="/category?op=del&id={{.Id}}">删除</a>
					</th>
					-->
				</tr>
			{{end}}
		</tbody>
	</table>
</div>
	
	

	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>